---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"code":"29c30c8f260ad9e95b2c5268a91598bfc1f5acd4","client_id":"42174","client_secret":"<CLIENT_SECRET>","grant_type":"authorization_code"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"9d0ab1e636be6a7c791b7303a3bbcbf4"
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_at":1586565191,"expires_in":14799,"refresh_token":"0473ac3061aab6a9cc14dccd9da870499a70f5ea","access_token":"fcd6710cc4559c4a95b8eb479975f91385670e47","athlete":{"id":18159370,"username":"pkutrumbos","resource_state":2,"firstname":"Peter","lastname":"Kutrumbos","city":null,"state":null,"country":null,"sex":"M","premium":false,"summit":false,"created_at":"2016-10-22T15:42:22Z","updated_at":"2020-01-15T01:27:20Z","badge_type_id":0,"profile_medium":"https://lh4.googleusercontent.com/-mJfk5p1yvAc/AAAAAAAAAAI/AAAAAAAAAAA/AAKWJJPXu9c_6oR3dT5fJRQHa-nKzN6a-g/photo.jpg","profile":"https://lh4.googleusercontent.com/-mJfk5p1yvAc/AAAAAAAAAAI/AAAAAAAAAAA/AAKWJJPXu9c_6oR3dT5fJRQHa-nKzN6a-g/photo.jpg","friend":null,"follower":null}}'
  recorded_at: Fri, 10 Apr 2020 20:26:32 GMT
recorded_with: VCR 5.1.0
