---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"refresh_token":"8abc9d72ffff14743bd6ca8a00d4b3fa6117f0cc","client_id":"42174","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 400 Bad Request
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Bad Request","errors":[{"resource":"RefreshToken","field":"refresh_token","code":"invalid"}]}'
  recorded_at: Sat, 11 Apr 2020 23:32:29 GMT
recorded_with: VCR 5.1.0
