---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1586049499&page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 9e7a98c6e5e2c9a5a5706f665eb825fa0866a6a3
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '600,30000'
      etag:
      - W/"61feb880ea855700aa93dfc0ec60678f"
      x-ratelimit-usage:
      - '1,8'
      strava-athlete-upload-version:
      - 6721d24daa381a0adf0270833cbce022
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":18159370,"resource_state":1},"name":"Afternoon
        Run","distance":2929.0,"moving_time":955,"elapsed_time":971,"total_elevation_gain":6.8,"type":"Run","workout_type":0,"id":3260850976,"external_id":"C0186175-F663-4086-94DD-08E8F2BD1C35-activity.fit","upload_id":3485951709,"start_date":"2020-04-06T00:32:01Z","start_date_local":"2020-04-05T17:32:01Z","timezone":"(GMT-08:00)
        America/Los_Angeles","utc_offset":-25200.0,"start_latlng":[34.009884,-118.482622],"end_latlng":[34.00453,-118.489025],"location_city":null,"location_state":null,"location_country":null,"start_latitude":34.009884,"start_longitude":-118.482622,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":2,"photo_count":0,"map":{"id":"a3260850976","summary_polyline":"wpqnElcdrUMT?EBBEFL\\Vf@BRA\\BL?FCBBZLPBLLJDJLHK`@Cf@CD[TOZOJGFCJEDCF?HLJh@~@NNBF?Ff@j@BJ^h@NVBJDBFRHH@HLBHCFBf@bARVFPLVf@j@HVPTL^\\\\BJX^FPZXBVFPT\\b@XBFF@Nj@f@n@DNLFDNLBBDDN@FLT@FPJN@FCJ@HFBJJNN@ZE`@Mh@GXINMTGPOLIDINKRe@V[l@e@XK^s@VULEFG^i@p@a@`@a@JEX_@HENORIHKZM^EVOf@]RYPI\\[RKHCRULEJ?JG`@c@LE`@[^SPUNEb@i@b@_@DIRSBMPIJSLGFMRMJOBKh@Y@Ef@a@n@y@hBcBJ[TOPONABE@IG?[^APEFo@^MRGBGNUXAF[\\K@c@j@YLSVWPMT[VAJGBMVEBQVE@Y`@[LKLIBGJE?YXAFMJGB_@Bs@x@u@h@e@f@WP[LSPUZUHSb@MFIHIDG?MTWF_@X]@a@ROLIVoAr@e@l@y@h@IROBIDAF","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":null,"from_accepted_tag":false,"upload_id_str":"3485951709","average_speed":3.067,"max_speed":4.9,"has_heartrate":false,"heartrate_opt_out":false,"display_hide_heartrate_option":false,"elev_high":33.3,"elev_low":5.0,"pr_count":0,"total_photo_count":0,"has_kudoed":false},{"resource_state":2,"athlete":{"id":18159370,"resource_state":1},"name":"All
        the Hits with Amy Ippoliti","distance":0.0,"moving_time":1800,"elapsed_time":1800,"total_elevation_gain":0,"type":"Yoga","id":3269240841,"external_id":null,"upload_id":null,"start_date":"2020-04-08T00:59:02Z","start_date_local":"2020-04-07T17:59:02Z","timezone":"(GMT-08:00)
        America/Los_Angeles","utc_offset":-25200.0,"start_latlng":null,"end_latlng":null,"location_city":null,"location_state":null,"[...]
