---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"code":"29c30c8f260ad9e95b2c5268a91598bfc1f5acd4","client_id":"42174","client_secret":"<CLIENT_SECRET>","grant_type":"authorization_code"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 400 Bad Request
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Bad Request","errors":[{"resource":"AuthorizationCode","field":"","code":"expired"}]}'
  recorded_at: Fri, 10 Apr 2020 20:43:11 GMT
recorded_with: VCR 5.1.0
